$primary-color: #1d0093;
$secondary-color: #005193;
$white : #fafafa;
$black : #00000080;
$clean-black : #00000050;
$nav-bg : #0c163d;
$base-bg : #f7f9ff;
$soft-black : #00000050;
$real-black : #00000095;
$action-click : rgb(42 62 148);
$action-hover : rgb(0, 17, 93);
$text-hover : #ffffff;
$active-click : rgb(0, 120, 26)